.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-ubicacion {
  /* width: auto; */
  height: 450px;
}

.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 1rem;
}

.home-ubicacion {
  margin-top: 20px; /* Espacio entre el mapa y la imagen */
}

.leaflet-control-attribution {
  display: none !important;
}

@media only screen and (max-width: 900px) {
  .home-ubicacion {
    height: 250px;
  }
}
