/* html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
} */

.navbar {
  position: fixed; /* Fijado en la parte superior */
  top: 0; /* Se queda pegado arriba */
  left: 0; /* Se asegura que comience desde la izquierda vw*/
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  max-width: 100%; /* Se asegura de no exceder el ancho */
  min-height: 50px;
  max-height: 15%;
  background-color: #a7c7e7;
  padding: 2px 0; /* Espaciado vertical */;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Se mantiene sobre otros elementos */

  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.navbar-components {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*Para modificar el componente izquierdo-------*/
.left-component {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*modificar el logo*/
.navbar-logo {
  max-width: 100px;
  height: auto;
  object-fit: contain;
}

/*Para modificar el componente medio-------*/
.mid-component {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

a {
  font-size: 25px;
  text-decoration: inherit;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*Para modificar el componente derecho-------*/
.right-component {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  column-gap: 15px;
}


.navbar-cart {
  position: relative; /* Para que .cart-badge se posicione con respecto a este */
  display: inline-block;
}

.cart-image-link {
  font-size: 24px; /* Ajusta según el tamaño del icono */
  align-self: center;
  justify-self: center;
}

.cart-badge {
  position: absolute;
  top: -5px; /* Ajusta la posición vertical */
  right: -10px; /* Ajusta la posición horizontal */
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.navbar-login-button {
  font-size: 15px;
  padding: 20px;
  gap: 50px;
  display: flex;
  justify-self: center;
}

.navbar-cart :hover {
  color: #646cff;
}


/*Para dispostivos con pantalla mas pequeña*/
@media only screen and (max-width: 576px) {
  .navbar-components {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60% 40%;
  }

  .left-component {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*modificar el logo*/
  .navbar-logo {
    max-width: 60px;
    height: auto;
    object-fit: contain;
  }

  .mid-component {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-component {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .navbar-cart {
    width: 30px;
    top: 4px;
    align-self: center;
  }
  
  .navbar-cart :hover {
    color: #646cff;
  }

  .navbar-login-button {
    font-size: 15px;
    padding: 5px;
    gap: 0px;
    display: flex;
    justify-self: center;
  }
}