/* src/components/AdminProducts.css */
.admin-products {
  padding: 1rem;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
